<p-dialog header="Header"  [closable]="true" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' ,height:'50vh'}" [draggable]="false" [resizable]="true">
  <ng-template pTemplate="header">
    <div>
      <h3 class="modal-title" id="modal-basic-title">Baslik</h3>
      <h6>Alt Tanımlama</h6>
    </div>
  </ng-template>


  <form [formGroup]="formGroup">
    <label >Len bilgisini giriniz <br>
      <input [formControlName]="'len'" type="text">
    </label>
    <br>
    <label >Status seçiniz <br>
      <ngx-bootstrap-multiselect [formControlName]="'status'" [settings]="selectSettings" [options]="myOptions"  ></ngx-bootstrap-multiselect>

    </label>
  </form>


  <button (click)="addData()">Add data</button>
</p-dialog>
