<p-dialog header="Header"  [closable]="false" [(visible)]="visible" [modal]="true" [style]="{ width: '30vw' ,height:'50vh'}" [draggable]="false" [resizable]="true">
  <ng-template pTemplate="header">
    <div>
      <h3 class="modal-title" id="modal-basic-title">Baslik</h3>
      <h6>Alt Tanımlama</h6>
    </div>
  </ng-template>


  <div class="d-flex flex-column justify-content-between h-100">
    <form [formGroup]="formGroup">
      <label [ngStyle]="{width:'100%'}">Len bilgisini giriniz <br>
        <input  pInputText [ngStyle]="{width:'100%'}" [formControlName]="'len'" type="number">
      </label>
      <br>
      <label [ngStyle]="{width:'100%'}">Status seçiniz <br>
        <ngx-bootstrap-multiselect  [formControlName]="'status'" [ngStyle]="{width:'100%'}" [settings]="selectSettings" [options]="myOptions"  ></ngx-bootstrap-multiselect>

      </label>
    </form>


    <div class="d-flex justify-content-end gap-2">
      <p-button (click)="closeModal()" label="Close" styleClass="p-button-danger"></p-button>
      <p-button (click)="addData()" [label]="data ? 'Save' : 'Add data'" styleClass="p-button-success"></p-button>
    </div>
  </div>
</p-dialog>
