<div>
    <div class="d-flex p-3 gap-3">
      <p-fileUpload  mode="basic" chooseLabel="Load Excel File" [auto]="true" url="https://www.primefaces.org/cdn/api/upload.php" accept=".xlsx"  (onUpload)="onFileChange($event)"></p-fileUpload>
      <p-button  (click)="openModal()" label="Add New Data"  styleClass="p-button-help"></p-button>
    </div>
    <div #table>
    </div>

  <p-button (click)="analysisOne()" label="Analiz 1" styleClass="p-button-raised p-button-text p-button-warning"></p-button>
  <p-button (click)="analysisTwo()" label="Analiz 2" styleClass="p-button-raised p-button-text p-button-help"></p-button>
</div>



